 <!--Navbar Top Level-->
 <nav class="navbar topnav navbar-inverse" role="navigation">
  <div class="navbar-collapse collapse">
   <ul class="nav navbar-nav navbar-left">
    <li>
     <a class="navbar-brand" href="#">Quora</a>
   </li>

 </ul>
 <ul class="nav navbar-nav navbar-right">        

  <li>
   <a class="glyphicon glyphicon-cog" title="Settings"></a>
 </li>

 <li>
   <a title="Logout" href="logout" class="glyphicon glyphicon-log-out"></a>
 </li>

 <!-- <li>< %= @user.email %></li> -->

</ul>
</div>
</nav><!-- Nav End -->


<link href="/css/styles.css" rel="stylesheet" type="text/css">
<div class="container main-content">

 <!-- User Picture -->
 <div class="row">
  <div class="col-12 pull-left">  
   <h1>Welcome <%= @current_user.name %></h1>
 </div>  
</div>
<div class="row col-12">    

  <div class="pull-left">    
   <img class="user-picture" src="img/user.png" alt="default user" style="height:300px; margin-top: 30px;">
 </div>

 <div>


 </div>
</div>         
</div>
</div>










