
<div class="container main-content">

  <!-- Welcome title -->
  <div class="col col-md-12">
    <div class="row">    
      <h1>Welcome <%= @current_user.name %></h1>    
    </div>
  </div>

  <!--Default User Picture -->
  <div class="col col-md-12">
    <div class="row">
      <img class="user-picture img-responsive center-block"  src="img/user.png" alt="default user">
    </div>
  </div>

</div>













