 <!--Navbar Top Level-->
 <nav class="navbar topnav navbar-inverse" role="navigation">
  <div class="navbar-collapse collapse">
   <ul class="nav navbar-nav navbar-left">
    <li>
     <a class="navbar-brand" href="#">Quora</a>
   </li>

 </ul>
 <ul class="nav navbar-nav navbar-right">        

  <li>
   <a class="glyphicon glyphicon-cog" title="Settings"></a>
 </li>

 <li>
   <a title="Logout" href="login" class="glyphicon glyphicon-log-out"></a>
 </li>

 <!-- <li>< %= @user.email %></li> -->

</ul>
</div>
</nav><!-- Nav Top Level End -->
















