<div class="container" style="margin-top: 30px;">
  <div class="well">
    <div class="media">        
      <div class="media-body">
        <!-- this will be heading retrieved from a table -->
        <h4 class="media-heading">Receta 1</h4>   
        <!-- This will be a name of the author retrieved based on user id  -->
        <p class="text-right">By Francisco</p>

        <ul class="list-inline list-unstyled">
          <!-- This will be a time since posting calculated based on time created and current time -->
          <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
          <li>|</li>
          <!-- This number will be a count of question_id in the answer table -->
          <!-- On click event will triger JQuery code and will display the answers -->
          <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
          <li>|</li>
          <li>
            <!-- This will be the voting feature. Content will be sorted in the back-end and then printed out -->
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </li>            
        </ul>
      </div>
    </div>
  </div>
</div>